<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs'); %>

    <div class="container mt-4">
      <h1>Yo! This is about page. No downloading here</h1>
    </div>
  </body>
</html>
