<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>  
    <title><%= title %></title>
  </head>

  <body>
    <%- include('../partials/nav'); %>
   <div class="container mt-4">
    <h1>Hello from Express Js home page</h1>
    <a href="/download">Download file</a>
   </div>
  </body>
</html>
